<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/assets/css/components/menu.css" />
    <link rel="stylesheet" href="/assets/css/components/base.css" />
    <title>Menu</title>
  </head>
  <body>
    <div class="container">
      <div class="menu-group">
        <header>
          <div class="mobile-menu-group align-center text d-flex space-between">
            <div class="fashion-group text-u align-center">
              <img src="/assets/img/logo.png" class="logo" alt="fashion-logo" />
              <span><a href="#">fashion</a></span>
            </div>
            <div class="burger" onclick="toggleMenu(this);">
              <div class="bar1"></div>
              <div class="bar2"></div>
              <div class="bar3"></div>
            </div>
          </div>
        </header>
        <nav class="menu-links text-u">
          <a href="#" class="menu-item">catalogue</a>
          <a href="#" class="menu-item">fashion</a>
          <a href="#" class="menu-item">favorite</a>
          <a href="#" class="menu-item">lifestyle</a>
          <a href="#" class="menu-item sign-up">sign-up</a>
        </nav>
      </div>

      <main class="main">
        <section class="sec1 m-1">
          <p>
            Lorem, ipsum dolor sit amet consectetur adipisicing elit.
            Blanditiis, quas, deleniti nobis consectetur facilis optio tempora
            dolorum in excepturi reiciendis quos voluptates omnis iure rem quod
            minus incidunt sapiente. Magni dicta consequuntur voluptatum placeat
            sequi dolorem, deleniti praesentium blanditiis tempora veniam
            aliquam alias veritatis, quasi mollitia eum laudantium ducimus. Quam
            molestias saepe tenetur repellendus excepturi natus alias tempora
            aliquam rem illo, facere labore culpa harum autem vero eos
            laboriosam placeat exercitationem nam modi minima? Ratione placeat
            est veniam ab ex consectetur deserunt, iure beatae ea ad labore
            ullam cumque, deleniti, cum maiores libero? Harum blanditiis non
            vero, perspiciatis beatae voluptatibus!
          </p>
        </section>
        <section class="sec2 m-1">
          <p>
            Quam a, velit dolor natus ab vero est eligendi placeat cum commodi
            corporis sint sapiente, ipsa magni fugit porro modi labore aliquam
            magnam. Eveniet, rerum expedita vel quod alias odio at impedit eos
            consectetur, rem delectus aliquam! Aliquid eligendi reprehenderit
            eveniet sed blanditiis expedita non, exercitationem, reiciendis
            tempore laboriosam maxime vel assumenda neque, dolorem ea? Alias,
            iste quidem eaque cumque, assumenda quasi dolorum molestias quod
            consectetur maiores voluptatem possimus nobis sequi vero temporibus
            dignissimos, ipsum id et odio modi! Itaque excepturi corporis
            aperiam alias accusamus id fugiat iste consequuntur molestias
            nesciunt voluptatibus impedit, porro atque ducimus iure quas
            nostrum! Atque!
          </p>
        </section>
        <section class="sec3 m-1">
          <p>
            Adipisci excepturi est dolor distinctio minus, molestias officia
            praesentium beatae earum harum? Ratione, voluptatem recusandae! Iste
            commodi aspernatur neque quisquam optio architecto velit
            praesentium. Praesentium necessitatibus minima fugit at ad cumque.
            Soluta, minima asperiores quaerat repellat perspiciatis libero ipsam
            tempora! Totam consequuntur sit reiciendis dolores cum sapiente
            dicta doloremque suscipit neque facilis quis, ut numquam dolorum
            voluptatum facere architecto atque nam adipisci! Excepturi, fugiat
            iure! Minima illo saepe, fugit reprehenderit praesentium dolores
            eveniet ipsum dicta, veniam doloribus, nihil similique consectetur
            sit? Doloremque dolor praesentium veritatis sunt nobis cumque
            repellendus assumenda corrupti officiis pariatur atque, eius
            laudantium et minima, expedita velit?
          </p>
        </section>
        <section class="sec4 m-1">
          <p>
            Odio, neque exercitationem laborum minus repellat optio cum
            molestiae ratione nihil, dicta molestias modi earum, ab sint
            repellendus! Dolorum sed minima eius excepturi consequatur iusto
            neque voluptates. Natus distinctio quisquam vero laboriosam, in
            vitae expedita, saepe qui sit tempora pariatur ab nemo rem quaerat
            ullam nobis vel? Quos amet dolore, a maiores culpa corporis fugit
            consectetur voluptas accusamus atque tempora delectus dolorum
            laborum odio! Corrupti, omnis expedita. Esse alias dolor, non
            aliquam magni expedita quam recusandae dolore velit, rerum aut
            nihil! Dolore aspernatur nam harum soluta recusandae magnam nisi vel
            praesentium. Cum, maiores quisquam laudantium laborum suscipit
            perspiciatis repudiandae expedita.
          </p>
        </section>
        <section class="sec5 m-1">
          <p>
            Consequuntur quibusdam et hic non asperiores repudiandae voluptates
            optio obcaecati. Quam ea obcaecati et sit quo facere delectus
            quidem, vitae quaerat velit deleniti esse blanditiis. Iure sint qui
            iste suscipit numquam temporibus veritatis praesentium ut debitis,
            expedita, quisquam magni aliquam distinctio accusantium non quo, ab
            modi possimus cupiditate quam placeat? Quidem ipsum ullam inventore
            magni libero autem molestias blanditiis non tempora asperiores
            mollitia, recusandae maiores, sequi minus! Praesentium iusto nobis
            ad labore numquam inventore, dolorem aspernatur laboriosam, vel
            ipsam veniam est vitae officiis perspiciatis nihil qui distinctio
            enim voluptates quae eligendi cupiditate explicabo magnam molestias.
            Neque dignissimos sapiente minima modi!
          </p>
        </section>
      </main>
    </div>
  </body>

  <script src="/assets/js/js.js"></script>
</html>
